# Propriétaire par défaut pour l'ensemble du projet
* @AdrienCpr

# Code applicatif
/src/ @AdrienCpr @Lineass

# Suite de tests
/test/ @AdrienCpr

# Configuration CI/CD et GitHub
/.github/ @AdrienCpr

# Gestion des dépendances
package.json @AdrienCpr
package-lock.json @AdrienCpr